.nav {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  
}
.title {
  display:flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 70px;

}




.card-header {
  background-color: lightblue;
  border-color: black;
  border-style: solid;
  
}

.card-body {
  background-color:lightgray;
  border-color: black;
  border-style: dotted;
}



.card {
  margin-top: 20px;
}

#title {
  background: repeating-linear-gradient(
  45deg,
  lightblue,
  lightblue 10px,
  white 10px,
white 20px
);
}